---
title: Soraida Henne
---
<nav class="navbar fixed-top navbar-expand-lg navbar-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#purple-bar">Work <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-section">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact-section">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<!-- <div class="navbar">
    <div class="work-nav">
      <a href="#purple-bar">Work</a>
    </div>
    <div class="about-nav">
      About
    </div>
    <div class="contact-nav">
      Contact
    </div>
  </div> -->
<div class="landing-bg">
  <h1>Soraida Henne <br>
    Creative Code <br>
    Design<br>
    Web Development</h1>
</div>
<div id="purple-bar">
  <h2>Here's Some Stuff I Made</h2>
</div>
<!-- generative gifs -->
<div class="gifs mx-3">
  <div>
    <%= image_tag("generativeFace.gif") %>
    <%= image_tag("generativeCircle.gif") %>
  </div>
  <div>
    <h3>Generative Animations</h3>
    <p>
      A selection of sketches created as a bridge between programming and art. These animations were all randomly generated with Processing.<br>
      Processing, P5.js
    </p>
    <div class="button-purple">
      View on Vimeo
    </div>
  </div>
</div>
<div class="app-section mx-3">
  <!-- clever closet -->
  <div class="row clever-closet">
    <div class="logo-paragraph">
      <%= image_tag("CleverClosetRed.png") %>
      <p>Clever Closet is an environmentally conscious, closet organization web app developed by myself and a team of three other developers over the course of two weeks.
        <br>
        Ruby on Rails, HTML, CSS, JavaScript</p>
      <div class="button-purple">
        View Site
      </div>
    </div>
    <div class="app-screens">
      <%= image_tag("screenshot01.png") %>
      <%= image_tag("screenshot02.png") %>
      <%= image_tag("borrow.gif") %>
    </div>
  </div>
  <!-- obi  -->
  <div class="obi">
    <div class="logo-paragraph">
      <%= image_tag("CleverClosetRed.png") %>
      <p>Clever Closet is an environmentally conscious, closet organization web app developed by myself and a team of three other developers over the course of two weeks.
        <br>
        Ruby on Rails, HTML, CSS, JavaScript</p>
      <div class="button-purple">
        View Site
      </div>
    </div>
    <div class="app-screens">
      <%= image_tag("screenshot01.png") %>
      <%= image_tag("screenshot02.png") %>
      <%= image_tag("borrow.gif") %>
    </div>
  </div>
  <!-- mister cocktail -->
  <div class="cocktail">
    <div class="logo-paragraph">
      <%= image_tag("CleverClosetRed.png") %>
      <p>Clever Closet is an environmentally conscious, closet organization web app developed by myself and a team of three other developers over the course of two weeks.
        <br>
        Ruby on Rails, HTML, CSS, JavaScript</p>
      <div class="button-purple">
        View Site
      </div>
    </div>
    <div class="app-screens">
      <%= image_tag("screenshot01.png") %>
      <%= image_tag("screenshot02.png") %>
      <%= image_tag("borrow.gif") %>
    </div>
  </div>
</div>
<!-- about -->
<div id="about-section">
</div>
<!-- contact -->
<div id="contact-section">
  <a href="https://www.linkedin.com/in/soraidahenne/" target="blank">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://github.com/sodapoph" target="blank">
    <i class="fab fa-github"></i>
  </a>
</div>
</div>